<link href="https://fonts.googleapis.com/css?family=Lobster|Noto+Sans+HK&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster|Noto+Sans+HK&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="bigContainer">
    {{!-- <div class="modal">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Search</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <input type="text" placeholder="search for quotes">
                </div>
            </div>
        </div>
        

    </div> --}}

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <button id="myBtn" type="submit" class="btn btn-danger"><i class="fas fa-user"> Login</i></button>
        </li>
        <li class="nav-item">
            <button id="myBtn1" type="submit" class="btn btn-danger"><i class="fas fa-user-plus"> Sign up</i></button>
        </li>
    </ul>
    <div class="dbQuote">


        <h1>Unforgettable Love and Memories</h1>

        <h3>Love Quotes For Him/Her</h3>

        <!-- Pass in data from server.js -->
        <div class="quoteCards">
            <section class="container-fluid">
                <div id="sanane"> {{#each quotes}}
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{{this.image}}" alt="Avatar" style="width:250px;height:250px;">
                            </div>
                            <div class="flip-card-back">
                                <p>{{this.quote}}</p>
                                <p>{{this.author}}</p>
                                <a type="email"
                                    href="mailto:someone@example.com?Subject={{this.quote}}&body={{this.image}}"
                                    target=" _top"><button>Send Quote</button> </a><br>
                                <br>
                                <button data-id="{{this.quote}}" class="delquote">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
        </div>

        <h2>Create a new quote or a message to your love!</h2>


        <form class="create-form">

            <div class="form-group">
                <label for="auth"></label>
                <textarea style="border: 2px solid red;" type="text" id="auth" cols="60" name="author"
                    placeholder="author..."></textarea>
            </div>
            <div class="form-group">
                <textarea style="border: 2px solid red;" id="upload" name="author" cols="60"
                    placeholder="add your picture..."></textarea>
            </div>

            <div class="form-group">
                <label for="quo"></label>
                <textarea style="border: 2px solid red;" id="quo" name="quote" rows="8" cols="60"
                    placeholder="write your quote here..."></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Add Quote</button>

        </form>

        <div id="follow" class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-red">
                <h4>Follow Us</h4>
            </div>
            <div class="w3-container w3-xlarge w3-padding">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
        </div>


        <div class="container">
            <!-- Trigger the modal with a button -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                                aria-describedby="basic-addon1"><br>

                            <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Login</button>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="container1">
            <!-- Trigger the modal with a button -->

            <!-- Modal -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                                aria-describedby="basic-addon1"><br>

                            <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                                aria-describedby="basic-addon1"><br>
                            <input type="text" class="form-control" placeholder=" Repeat password" aria-label="Username"
                                aria-describedby="basic-addon1"><br><br>

                            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">
                            Remember me
                            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
                                    Privacy</a>.</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Signup</button>



                        </div>
                    </div>


                </div>
            </div>

        </div>

        <script>
            $(document).ready(function () {
                $("#myBtn").click(function () {
                    $("#myModal").modal();
                });
            });
            $(document).ready(function () {
                $("#myBtn1").click(function () {
                    $("#myModal1").modal();
                });
            });
        </script>